.optionCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* width: 400px; */
  width: 25vw;
  min-width: 350px;
  max-width: 400px;
  height: 35vh;
  min-height: 300px;
  max-height: 360px;
  /* height: 360px; */
  background-color: #ffffff;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid #c8c8c8;
}

.optionCard__highlighted {
  border-color: var(--color-palette-violet);
  background-color: #f3f0f5;
}

.optionCard:hover {
  transition-property: 'border-color';
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  border-color: var(--color-palette-violet);
}

.optionCardHeader {
  /* width: 396px;
  height: 80px; */
  width: 100%;
  height: 20%;
  background-color: transparent;
  border-radius: 17px 17px 0px 0px;
  border-bottom: 2px solid #c8c8c8;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.optionCardHeader__highlighted {
  border-color: var(--color-palette-violet);
  background-color: var(--color-palette-violet);
}

.optionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionItem label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.optionItem__highlighted {
  color: white;
}

/* .optionCard:hover label{
  font-size: 16px;
  font-weight: 700;
} */

/* .tip {
  display: none;
} */

.optionCard:hover .tip {
  display: block;
  font-size: 12px;
  font-weight: 00;
  font-style: italic;
}

.optionCardHeader input[type='radio'] {
  appearance: none;
  display: grid;
  place-content: center;
  background-color: #fff;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  transform: translateY(+0.175em);
  border: 0.15em solid #c8c8c8;
  border-radius: 50%;
}

.optionCardHeader input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-palette-violet);
}

.optionCardHeader input[type='radio']:checked::before {
  transform: scale(1);
}

.optionIcon {
  margin-right: 15px;
  padding-top: 10px;
}

.optionItem__highlighted .optionIcon svg {
  fill: white;
}

.optionIcon svg {
  fill: #676767;
}

.optionCardContent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 20px;
  font-size: 14px;
}

.newButton {
  height: 70px;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.newButton:hover {
  border: 1px solid #90376b;
  color: #90376b;
}

.badge {
  background-color: #702f8a;
  border-radius: 12px;
  height: 25px;
  width: fit-content;
  padding: 3px 10px 3px 10px;
  color: #f3f0f5;
  font-weight: 500;
}
