.iconBtn {
  cursor: pointer;
  padding: 6px 6px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background-color: #e4e4e4;
}

.iconBtn:hover {
  transition-property: 'background-color';
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  background-color: #d6d6d6;
}

.iconBtn:active {
  background-color: #e7e7e7;
}

.iconBtn__rounded {
  border-radius: 50%;
}

.iconBtn__disabled {
  opacity: 0.5;
  pointer-events: none;
}

.iconBtn__noOutline {
  border: none;
  background-color: transparent;
}

.iconBtn__noOutline:hover {
  transition-property: 'background-color';
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  background-color: #f1f1f1;
}

.iconBtn__noOutline:active {
  background-color: #e7e7e7;
}

.btnContent {
  display: flex;
}
