.checkbox {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.label {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray);
  font-weight: 600;
  margin-bottom: 4px;
}

.inputError {
  color: var(--color-alert-red);
}
