.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

.control {
  display: grid;
  font-size: 2rem;
  grid-template-columns: 1em auto;
}

.labelText {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  font-weight: 600;
  line-height: 14px;
  font-size: 14px;
  margin-left: 8px;
}

.checkbox input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: currentColor;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox input[type='checkbox']::before {
  content: '';
  width: 0.9em;
  height: 0.9em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.9em 0.9em var(--color-palette-pink);
}

.checkbox input[type='checkbox']:checked::before {
  transform: scale(1);
}
