.aivAccordion {
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;
}

.header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid var(--color-palette-violet);
}

.header:hover {
  background-color: var(--color-light-gray);
}

.headerContent {
  padding: 15px;
}

.arrowIcon {
  position: absolute;
  right: 8px;
}

.list > div {
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 50px;
}

.list > div:hover {
  background-color: var(--color-light-gray2);
}

.list.list__expanded {
}
