.root {
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border-bottom: 1px solid transparent;
}

.list__expanded .header {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: var(--color-light-gray);
}

.header:hover {
  background-color: var(--color-light-gray2);
}

.headerContent {
  padding: 15px;
  color: var(--color-palette-violet);
}

.headerChild {
  display: flex;
  gap: 10px;
}

.arrowIcon {
  position: absolute;
  right: 8px;
  transform: rotate(0deg);
}

.list__expanded .arrowIcon {
  transform: rotate(180deg);
}

.list {
  display: none;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(190, 189, 189);
  border-radius: 5px;
}

.list > .item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 50px;
}

.list > .item:hover {
  background-color: var(--color-light-gray2);
}

.list__expanded .list {
  display: block;
}
