.header {
  position: absolute;
  z-index: 1000;
  height: var(--topbar-height);
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid var(--color-palette-violet);
}

.logo {
  position: absolute;
  left: calc(50% - 120px);
  width: 240px;
  height: 50px;
  cursor: pointer;
}

.menuIconsGroup {
  display: flex;
  align-items: center;
  margin-right: 15px;
  position: absolute;
  left: var(--left-panel-width);
}

.menuIcon {
  color: #702f8a;
  opacity: 0.7;
  cursor: pointer;
  margin-right: 10px;
}

.menuIcon:hover {
  opacity: 1;
}

.menuSaveIcon:active {
  opacity: 0.3;
}

.menuIcon__Disabled {
  pointer-events: none;
}

.saveStatusText {
  font-size: 11px;
  margin-left: 10px;
  color: var(--color-white);
}

.reportNavBtn {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.disableNavBtn {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.reportNavBtn:hover {
  border-color: rgba(112, 47, 138, 0.5);
  border-radius: 4px;
}

.navIcon {
  color: #4b255a;
}

.savedTimeDisplay {
  font-size: 12px;
  color: var(--color-gray);
  margin-left: 15px;
}

.savedMsgDisplay {
  font-size: 12px;
  color: var(--color-gray);
  margin-left: 15px;
}
