.container__limits {
  width: 100%;
  margin: auto;
  max-width: 1920px;
  min-width: 1400px;
}

.inputsLayout {
  padding: 0 24px;
  position: relative;
}

.stickyInputsLeftpanel {
  position: fixed;
  top: 80px;
  width: 350px;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 15px;
  border-radius: 4px;
}

.projectDetail h4 {
  font-weight: 500;
  line-height: 16px;
  color: var(--color-palette-violet);
}
.projectDetail h3 {
  font-size: 16px;
  font-weight: 600;
}

.inputsRightpanel {
  position: absolute;
  margin-left: 25px;
  left: 350px;
  padding: 0 25px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.itemText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.iBlockStepperWrapper {
  padding: 0 15px;
  padding-bottom: 10px;
}

.inputSection {
  margin: 30px 0 80px 0;
}

.sectionHeading {
  margin-bottom: 15px;
}

.sectionHeading h3 {
  font-size: 20px;
}

.inputCard {
  display: flex;
  position: relative;
  background-color: #ffffff;
  align-items: flex-start;
  padding: 4px 20px;
  border-radius: 4px;
  margin: 25px 0;
  min-height: 150px;
  border: 2px solid transparent;
  transition-property: 'border-color';
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  scroll-margin-top: 20px;
}

.inputCard__indent {
  margin-left: 30px;
}

.groupTitle {
  font-weight: 600;
  margin-left: 30px;
  margin-top: 30px;
}

.inputDescription {
  padding: 20px;
  min-width: 320px;
}

.inputDescription h4 {
  font-weight: 600;
  margin-bottom: 5px;
}

.inputDescription p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.inputSummary {
  font-size: 14px;
}

.inputMain {
  padding: 20px;
  font-size: 14px;
}

.inputMain p {
  margin: 0 0 20px 0;
}

.divider {
  width: 1px;
  background-color: var(--color-light-gray);
  height: 145px;
}

.buttonRow {
  display: flex;
  align-items: center;
  gap: 15px;
}

.errorMsg {
  color: var(--color-alert-red);
}

.iBlockGroup {
  position: relative;
  margin-bottom: 50px;
}

.iBgroupLine {
  position: absolute;
  height: calc(100% + 60px);
  width: 20px;
  top: -37px;
  border-left: 1px solid var(--color-light-gray);
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}
