.topmenu {
  position: relative;
  height: var(--topmenu-height);
  background-color: var(--color-palette-violet);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}

.topmenu__itemGroup {
  display: flex;
  align-items: center;
}

.topmenu__itemDivier {
  width: 1px;
  height: 18px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: white;
}

.projectNavButton {
  position: absolute;
  top: 50%;
  right: 2%;
  display: flex;
}

.stepNavBtnGroup {
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 100px;
  right: 80px;
}

.stepNavBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--color-palette-midnight-blue);
}

.stepInfo {
  width: 50px;
}
