@media print
{
  .no-print, .no-print *
  {
      display: none !important;
  }
  /* .page {
    page-break-after: 'always'
  } */
}

.pageContainer {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.page {
  display: block;
  position: relative;
  /* break-before: always; */
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.reportWidgetComponent {
	cursor: pointer;
	position: relative;
	/* overflow: hidden; */
	width: 100%;
	/* height: 500px; */
}
