@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.pageContainer {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.page {
  display: block;
  position: relative;
  break-before: always;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.reportWidgetComponent {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
