.tooltip {
  min-height: 40px;
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  color: #333333;
  border-radius: 4px;
  transition: opacity 500ms;
}

.content {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  z-index: 9998;
  width: max-content;
  max-width: 300px;
  padding: 5px 15px;
  background: #ffffff;
  border-radius: 4px;
}

.pointer {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.pos__top {
  left: calc(50% - 5px);
  bottom: -5px;
  border: 5px solid;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(225deg);
}

.pos__left {
  left: calc(100% - 5px);
  top: 15px;
  border: 5px solid;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
}

.pos__bottom {
  left: calc(50% - 5px);
  top: -5px;
  border: 5px solid;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(225deg);
}

.pos__right {
  left: calc(0% - 5px);
  top: 15px;
  border: 5px solid;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
}
