:root {
  --topbar-height: 55px;
  --topmenu-height: 35px;
  --left-panel-width: 280px;
  --right-panel-width: 300px;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.scrollContainer {
  height: calc(100vh - var(--topbar-height));
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 3px;
  min-width: 1400px;
  position: relative;
}

.mainContainer {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 50px;
}

.topBar {
  position: absolute;
  height: 70px;
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
  box-shadow: -6px -2px 8px 0px rgb(0 0 0 / 60%);
}

.layoutContentArea {
  position: absolute;
  width: 100%;
  top: calc(var(--topbar-height) - 3px);
  z-index: 999;
}

.contentArea {
  position: absolute;
  width: 100%;
  top: 70px;
}

.screenHeading {
  margin: 0;
  color: var(--color-dark-gray);
  font-size: 24px;
}

.headingDescription {
  margin: 0;
  color: var(--color-gray);
}

.statusBar {
  position: absolute;
  width: 300px;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.aivBase-button {
  --clr-btn-primary: #702f8a;
  --clr-btn-primary-hover: #723e85;
  --clr-btn-primary-active: #803c9b;
  --clr-btn-primary-disabled: #b090be;
  --clr-btn-secondary: #914aad;
  --clr-btn-secondary-hover: #9f45c2;
  --clr-btn-secondary-active: #a14dc2;
  --clr-btn-secondary-disabled: #d1a7e2;
  --clr-btn-outlined: #ffffff;
  --clr-btn-outlined-hover: #f7f7f7;
  height: 35px;
  padding: 3px 16px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  margin-right: 8px;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

.aivBase-button--primary {
  background-color: var(--clr-btn-primary);
}

.aivBase-button--primary:hover {
  background-color: var(--clr-btn-primary-hover);
}

.aivBase-button--primary:active {
  box-shadow: none;
  background-color: var(--clr-btn-primary-active);
}

.aivBase-button--primary:disabled {
  background-color: var(--clr-btn-primary-disabled);
  color: rgba(255, 255, 255, 0.6);
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  cursor: default;
}

.aivBase-button--secondary {
  background-color: var(--clr-btn-secondary);
}

.aivBase-button--secondary:hover {
  background-color: var(--clr-btn-secondary-hover);
}

.aivBase-button--secondary:active {
  box-shadow: none;
  background-color: var(--clr-btn-secondary-active);
}

.aivBase-button--secondary:disabled {
  background-color: var(--clr-btn-primary-disabled);
  color: rgba(255, 255, 255, 0.6);
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  cursor: default;
}

.aivBase-button--outlined {
  background-color: var(--clr-btn-outlined);
  color: #aa60c7;
  border: 1px solid #aa60c7;
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.4);
}

.aivBase-button--outlined:hover {
  background-color: var(--clr-btn-outlined-hover);
}

.aivBase-button--outlined:active {
  box-shadow: none;
}

.aivBase-button--outlined:disabled {
  opacity: 0.5;
  color: #676767;
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  cursor: default;
}

.aivBase-button--large {
  height: 50px;
  font-size: 16px;
  padding: 5px 16px;
}

.aivBase-button--small {
  height: 28px;
  font-size: 12px;
  padding: 2px 14px;
  font-weight: bold;
}
