# .coveragerc to control coverage.py
[run]
branch = True
cover_pylib = False

[report]
omit = /usr/*, test_engine_core/__*.py, test_engine_core/tests/*, test_engine_core/interfaces/*
exclude_lines =
    @abstractmethod
    @abc.abstractmethod