# .coveragerc to control coverage.py
[run]
branch = True
cover_pylib = False

[report]
omit = /usr/*, */__*.py, */tests/*, */module_tests/*, */user_defined_files/*
exclude_lines =
    @abstractmethod
    @abc.abstractmethod
