# Environments
my_virtual_env/

# MacOS
docs/.DS_Store
.DS_Store

#deployment
site/

# Project output files
stock-plugins/user_defined_files/output/

# Runtime/compile files
**/venv/
**/.venv/
**/node_modules/
*.pyc
