.listMenuContainer {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 190px;
  background: var(--color-white);
  border-radius: 3px;
}

.listMenuItem {
  cursor: pointer;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--color-gray);
  font-size: 16px;
}
.listMenuItem:hover {
  background-color: rgba(227, 226, 226, 0.5);
}

.listMenuItem:last-of-type {
  border-bottom: none;
}

.menuItemContent {
  display: flex;
}
