.card {
  background-color: #000000;
  position: relative;
  flex-flow: column nowrap;
  align-items: flex-start;
  cursor: pointer;
  box-shadow: 2px 4px 6px -1px rgb(0 0 0 / 0.4);
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.card_s {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card_m {
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}
