absl-py==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
aiometer==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
aiopenapi3==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.2.0 ; python_version >= "3.10" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
dnspython==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
email-validator==2.1.0.post1 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
flatbuffers==23.5.26 ; python_version >= "3.10" and python_version < "3.12"
gast==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth-oauthlib==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.27.0 ; python_version >= "3.10" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.60.0 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
h5py==3.10.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.2 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.26.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.6 ; python_version >= "3.10" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "3.12"
keras==2.13.1 ; python_version >= "3.10" and python_version < "3.12"
libclang==16.0.6 ; python_version >= "3.10" and python_version < "3.12"
lightgbm==4.3.0 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.5.2 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.4 ; python_version >= "3.10" and python_version < "3.12"
more-itertools==10.2.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.24.3 ; python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
openapi-schema-validator==0.6.2 ; python_version >= "3.10" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.2 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic==1.10.14 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pytz==2023.4 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.33.0 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.17.1 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.12.0 ; python_version >= "3.10" and python_version < "3.12"
setuptools==69.0.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.12"
tensorboard==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-estimator==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-io-gcs-filesystem==0.35.0 ; python_version >= "3.10" and python_version < "3.12" and platform_machine != "arm64" or python_version >= "3.10" and python_version < "3.12" and platform_system != "Darwin"
tensorflow==2.13.0 ; python_version >= "3.10" and python_version < "3.12"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.5.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2023.4 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
wheel==0.42.0 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
xgboost==2.0.3 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.12"
