.stdAlertBody {
  display: flex;
}

.stdAlertHeading {
  font-size: 16px;
  font-weight: bold;
}
.stdAlertBody.type_error .stdAlertHeading {
  color: var(--color-alert-red);
}

.stdAlertBody.type_success .stdAlertHeading {
  color: var(--color-alert-success);
}

.stdAlertBody.type_warning .stdAlertHeading {
  color: var(--color-alert-warning);
}

.stdAlertBody.type_info .stdAlertHeading {
  color: var(--color-alert-info);
}

.stdAlertContent {
  display: flex;
  flex-direction: column;
}

.iconWrapper {
  margin-right: 10px;
}

.alertIcon {
  font-size: 35px;
}

.icon_error {
  color: var(--color-alert-red);
}

.icon_success {
  color: var(--color-alert-success);
}

.icon_info {
  color: var(--color-alert-info);
}

.icon_warning {
  color: var(--color-alert-warning);
}
