.projCardContainer {
  display: flex;
  border-radius: 8px;
  min-width: 370px;
  background-color: #ffffff;
  color: var(--color-gray);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
