absl-py==2.1.0
aiometer==0.5.0
aiopenapi3==0.2.1
aiverify-test-engine @ file:///home/runner/work/aiverify/aiverify/aiverify-test-engine
anyio==4.8.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
email_validator==2.2.0
flatbuffers==25.2.10
gast==0.6.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.70.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.26.0
idna==3.10
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==2.14.0
libclang==16.0.6
lightgbm==4.5.0
Markdown==3.7
MarkupSafe==3.0.2
ml-dtypes==0.2.0
more-itertools==10.6.0
multidict==6.1.0
numpy==1.26.4
nvidia-nccl-cu12==2.25.1
oauthlib==3.2.2
openapi-schema-validator==0.6.2
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.2
pillow==10.4.0
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==1.10.21
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.33.0
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rpds-py==0.17.1
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
six==1.17.0
sniffio==1.3.1
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.14.1
xgboost==2.1.1
yarl==1.8.1
