.c-primary {
  color: #702F8A;
}

.c-secondary {
  color: #914aad;
}

.c-error {
  color: #f73939;
}

.c-warning {
  color: #fabb33;
}

.c-info {
  color: #357cce;
}

.c-success {
  color: #52be52;
}

.aiv-panel {
  background-color: #702F8A;
  color: white;
  padding: 10px;
  border: 0;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.4);
}
.aiv-card {
  background-color: #702F8A;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border: 0;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.4);
}

/* :is(.panel, .card).primary:not([disabled]) {
  background-color: #702F8A;
  color: white;
  border: 0;
}
*/

:is(.aiv-panel, .aiv-card, .aiv-button).c-secondary:not([disabled]) {
  background-color: #914aad;
  color: white;
  border: 0;
}

:is(.aiv-panel, .aiv-card, .aiv-button).c-error:not([disabled]) {
  background-color: #f73939;
  color: white;
  border: 0;
}

:is(.aiv-panel, .aiv-card, .aiv-button).c-warning:not([disabled]) {
  background-color: #fabb33;
  color: white;
  border: 0;
}

:is(.aiv-panel, .aiv-card, .aiv-button).c-info:not([disabled]) {
  background-color: #357cce;
  color: white;
  border: 0;
}

:is(.aiv-panel, .aiv-card, .aiv-button).c-success:not([disabled]) {
  background-color: #52be52;
  color: white;
  border: 0;
}

.aiv-input, .aiv-textarea {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.4);
}

:is(.aiv-input, .aiv-textarea):focus {
  outline: none;
}

:is(.aiv-panel, .aiv-card) > :is(.aiv-input, .aiv-textarea) {
  border: 0;
}
