.topbar {
	position: absolute;
	z-index: 1000;
	height: var(--topbar-height);
	background-color: #FFFFFF;
	width: 100%;
	box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.layoutContentArea {
	z-index: 999;
	position: absolute;
	width: 100%;
	top: calc(var(--topbar-height) - 1px);
}

.logo {
	cursor: pointer;
}