.aiv-button {
  /* height: 35px; */
	padding: 3px 14px;
	font-size: 14px;
	border-radius: 3px;
	border: none;
	/* color: #FFFFFF; */
	background-color: #702F8A;
  color: white;
	margin-right: 8px;
	font-family: inherit;
	cursor: pointer;
	/* text-transform: uppercase; */
	box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.4);
}

.aiv-button:disabled {
	background-color: #b090be;
	color: rgba(255, 255, 255, 0.6);
	box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.4);
	pointer-events: none;
	cursor: default;
}


.aiv-button.c-primary {
	background-color: #702F8A;
  color: white;
}

.aiv-button.c-primary:hover {
	background-color: #723e85;
  color: white;
}

.aiv-button.c-primary:active {
	box-shadow: none;
	background-color: #803c9b;
  color: white;
}

.aiv-button.c-primary:disabled {
	background-color: #b090be;
	color: rgba(255, 255, 255, 0.6);
	box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.4);
	pointer-events: none;
	cursor: default;
}

.aiv-button.c-secondary {
	background-color: #914aad;
  color: white;
}

.aiv-button.c-secondary:hover {
	background-color: #9f45c2;
  color: white;
}

.aiv-button.c-secondary:active {
	box-shadow: none;
	background-color: #a14dc2;
  color: white;
}

.aiv-button.c-secondary:disabled {
	background-color: #d1a7e2;
	color: rgba(255, 255, 255, 0.6);
	box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.4);
	pointer-events: none;
	cursor: default;
}

.aiv-button.c-tertiary {
	background-color: #FFFFFF;
	color: #676767;
	border: 1px solid #aa60c7;
}

.aiv-button.c-tertiary:hover {
	background-color: #f7f7f7;
}

.aiv-button.c-tertiary:active {
	box-shadow: none;
}

.aiv-button.c-tertiary:disabled {
	opacity: 0.5;
	color: #676767;
	box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.4);
	pointer-events: none;
	cursor: default;
}

.aiv-button.large {
	/* height: 50px; */
	font-size: 16px;
	padding: 5px 16px
}

.aiv-button.small {
	/* height: 28px; */
	font-size: 12px;
	padding: 2px 10px
}