.reportWidgetComponent {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
}

.reportWidgetComponent:hover {
  border-color: #4654f9;
}

.invalidWidget {
  background-color: #ffffff;
}

.panelsAndCanvasContainer {
  position: absolute;
  display: flex;
  min-width: 1400px;
}

.designArea {
  min-width: 840px;
  max-width: 960px;
  width: calc(100vw * (60 / 100));
}

.designColumn {
  width: 794px;
  margin: auto;
}

.canvas {
  --A4-canvas-width: 794px;
  --A4-canvas-padding: 10px;
  --A4-canvas-height: 1100px;
  /* 
	Canvas height: Based on aspect-ratio, relative to width 794px, it should be 1123px. 
	That computes to 36 number of rows (30px per row), with padding 10px factored in.
	That leaves a bit of space leftover.
	So, just use exact height value of 36 rows * 30px to remove the leftover from screen
	*/
  position: relative;
  background-color: #e3e2e2;
  margin: auto;
  margin-bottom: 50px;
  padding: var(--A4-canvas-padding);
}

.canvas_grid {
  --grid-row-height: 30px;
  --grid-line-color: #cacaca;
  --grid-container-width: calc(
    var(--A4-canvas-width) - var(--A4-canvas-padding) * 2
  );
  --grid-container-height: calc(
    var(--A4-canvas-height) + 1px - var(--A4-canvas-padding) * 2
  );
  position: absolute;
  left: var(--A4-canvas-padding);
  top: var(--A4-canvas-padding);
  width: var(--grid-container-width);
  height: var(--grid-container-height);
  background-image: repeating-linear-gradient(
      var(--grid-line-color) 0 1px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color) 0 1px,
      transparent 1px 100%
    );
  background-size: calc(calc(100% - 0.03em) / 12) var(--grid-row-height);
}

.canvas_topbar {
  width: var(--A4-canvas-width);
  margin: auto;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canvas_item_highlight {
  position: absolute;
  background-color: #4654f9;
  z-index: 100;
}

.paginationBar {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 102;
}

.gridItem_title {
  width: max-content;
  max-width: 200px;
  background: var(--color-white);
  padding: 5px 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 13px;
}

.gridItem_menu {
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.gridItem_dheightNote {
  display: flex;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background: var(--color-white);
  margin-bottom: 5px;
  font-size: 13px;
  width: 130px;
}

@keyframes animateHeight {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.3);
  }
}

.dynHeightIndicator {
  position: absolute;
  color: var(--color-palette-violet-red);
  animation-duration: 0.3s;
  animation-name: animateHeight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
