.resultBody {
  display: flex;
  margin-top: 20px;
}

.iconWrapper {
  margin-right: 10px;
}

.successIcon {
  font-size: 40px;
  color: var(--color-alert-success);
}

.errorIcon {
  font-size: 40px;
  color: var(--color-alert-red);
}

.resultContent {
  display: flex;
  flex-direction: column;
}

.successHeading {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-alert-success);
}

.errorHeading {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-alert-red);
}

.footerBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
