.leftpanel {
  width: var(--left-panel-width);
}

.stickyLeftPanel {
  position: fixed;
  width: var(--left-panel-width);
  padding: 10px;
  background-color: var(--color-palette-dark-indigo);
  height: calc(100vh - var(--topbar-height));
}

.panelSection {
  padding-top: 8px;
  padding-bottom: 15px;
  color: var(--color-white);
  font-size: 14px;
}

.panelSectionHeading {
  display: flex;
  margin-bottom: 5px;
}

.panelSectionHeadingText {
  font-weight: 400;
  line-height: 1.75;
  font-size: 17px;
  color: var(--color-white);
}

.panelText {
  font-size: 16px;
  color: var(--color-white);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 1.6;
}

.panelText--noOverflow {
  text-overflow: unset;
  overflow: visible;
  white-space: normal;
}

.sectionDivider {
  border-top: 1px solid var(--color-white-soft-pink-tint);
  opacity: 0.2;
  margin-bottom: 15px;
}

.pluginHeading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  max-width: 220px;
}

.widgetHeadingWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.draggableWidget {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 244px;
  height: 28px;
  display: flex;
  padding: 2px 5px;
  border-radius: 3px;
  margin: 4px;
  cursor: move;
  margin-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 120px;
  font-size: 15px;
  padding-right: 0;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: 'height';
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.draggableWidget:hover {
  left: 5px;
  height: 130px;
  margin-bottom: 12px;
  box-shadow: -1px 1px 12px 2px rgb(0 0 0 / 16%);
  transition-duration: 0.2s;
  transition-property: left, 'height';
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.draggableWidget:hover .draggableHandleIcon {
  color: var(--color-palette-pink);
  transition: all 0.35s ease;
}

.draggableWidgetIcon {
  font-size: 15px;
  margin-top: 4px;
  margin-right: 5px;
  color: #ffffff;
}

.draggableHandleIconWrapper {
  display: flex;
}

.draggableHandleIcon {
  color: #ffffff;
  font-size: 18px;
  margin-top: 2px;
}

.draggableWidget_disabled {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.draggableWidget_disabled:hover {
  top: 0px;
  left: 0px;
  box-shadow: none;
}

.draggableWidget_disabled .widgetHeading {
  color: rgba(255, 255, 255, 0.6);
}

.widgetHeading {
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-white);
}

.draggableWidget:hover .widgetHeading {
  text-overflow: initial;
  overflow: visible;
  white-space: break-spaces;
}

.widgetScrollContainer {
  top: 175px;
  position: absolute;
  width: 268px;
  height: calc(100vh - var(--topbar-height) - 190px);
  overflow-y: scroll;
  padding-right: 8px;
}

.widgetScrollContainer::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.widgetScrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.widgetDetailsScrollContainer {
  color: var(--color-white);
  margin-top: 10px;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.widgetDetailsScrollContainer::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.widgetDetailsScrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.widgetDetailsScrollContainer ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.widgetDetailsScrollContainer ul li {
  word-wrap: break-word;
  margin-bottom: 8px;
}

.widgetDetailsRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.widgetDetailLabel {
  font-size: 13px;
  font-weight: bold;
  color: var(--color-white-soft-pink-tint);
}

.widgetDetailText {
  line-height: 18px;
}

.widgetDetailsDivider {
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
  height: 1px;
  margin-top: 5px;
}
