.container__limits {
  width: 100%;
  margin: auto;
  max-width: 1920px;
  min-width: 1400px;
}

.layout {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectInfoForm {
  display: flex;
  background: #ffffff;
  width: 55%;
  min-width: 730px;
  margin: auto;
  padding: 25px 25px 25px 25px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.projectInfoForm p {
  font-size: 14px;
}

.leftSection {
  padding-right: 25px;
}

.vDivider {
  width: 1px;
  background-color: var(--color-light-gray);
}

.rightSection {
  padding-left: 25px;
  min-width: 550px;
}

.formFooter {
  margin-top: 30px;
  text-align: right;
  font-size: 13px;
  color: var(--color-palette-violet);
}
