.headingContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.dragIconWrapper {
  position: absolute;
  left: -15px;
  top: 3px;
}

.propertyInputHeader {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.propertyInputContainer {
  display: flex;
  align-items: center;
}

.propertyInputField {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.propertyInputField > label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray);
}

.variablesMenu {
  position: absolute;
  right: -210px;
  top: 50px;
  z-index: 1001;
  max-height: 330px;
  overflow-y: auto;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.variablesMenu::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

.variablesMenu::-webkit-scrollbar-thumb {
  background-color: rgb(190, 189, 189);
  border-radius: 5px;
}

.footerContent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.useVarBtn {
  width: 100px;
  border: none;
  box-shadow: none;
  font-weight: normal;
  height: 36px;
  margin-left: 8px;
  margin-right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.noTextTransform {
  text-transform: none;
}
