.propertiesPanel {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: var(--right-panel-width);
  background-color: var(--color-white);
  margin-bottom: 20px;
}

.propertiesHeading {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0;
  padding-right: 5px;
  color: var(--color-palette-violet);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #e3e2e2;
}

.headingContainer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  margin: 5px;
  margin-left: 10px;
}

.propertiesContent {
  display: flex;
  padding: 10px 15px 15px 15px;
}

.propertyName {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: bold;
}

.propertiesContent {
  margin-right: 5px;
}

.colorBox {
  width: 45px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.colorPickerWrapper {
  z-index: 103;
  top: 32px;
  position: absolute;
}

.dimension {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dimensionCol {
  display: flex;
  flex-direction: column;
}

.dimensionCol > div {
  line-height: 18px;
}
