apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: aiverify-portal-ingress
  namespace: <NAMESPACE>
  annotations:
    alb.ingress.kubernetes.io/scheme: internal
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/group.name: <INGRESS_GRP_NAME>
    alb.ingress.kubernetes.io/load-balancer-name: <INGRESS_ALB_NAME>
    external-dns.alpha.kubernetes.io/target: <EXT_DNS_PUB_ALB>
spec:
  ingressClassName: alb
  rules:
    - host: <INGRESS_HOST>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: aiverify-portal-service
                port:
                  name: http
---
