apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aiverify-shared-pvc
  namespace: <NAMESPACE>
  labels:
    app.kubernetes.io/name: aiverify-shared-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: <EFS_STGCLASS_NAME>
---