.root {
  position: relative;
}

.icon {
  position: relative;
  cursor: pointer;
}

.countBadge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-alert-info);
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 3px 2px 2px;
  top: -5px;
  right: -5px;
}

.countBadgeAll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 3px 2px 2px;
  margin-left: 6px;
}

.header {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid var(--color-palette-violet);
}

.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10px;
  top: 40px;
  width: 400px;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.panel h3 {
  font-size: 16px;
  font-weight: 600;
}

.list {
  overflow: hidden;
}

.scrollContainer {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(122, 121, 122, 0.4);
  border-radius: 5px;
}

.emptyList {
  display: flex;
  padding: 10px;
  height: 130px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.msgPanel {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 10px 32px;
}

.msgPanel .h4 {
  font-size: 14px;
}

.msgNav {
  padding: 5px 8px;
  background-color: var(--color-light-gray3);
}

.msgNavBtn {
  display: flex;
  align-items: center;
  line-height: 14px;
  font-size: 14px;
  cursor: pointer;
}

.callToAction {
  padding: 5px 0 0 0;
}

.viewReportCTA {
  width: 125px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid var(--color-light-gray2);
}

.viewReportCTA:hover {
  background-color: var(--color-light-gray3);
}

.ctaText {
  font-size: 13px;
  padding-left: 5px;
}

.flyOutMsg {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid var(--color-light-gray2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  top: 60px;
  right: -400px;
  width: 340px;
  transition-property: right;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.flyIn {
  visibility: visible;
  right: 10px;
}
