.listWrapper {
  position: relative;
}

.listCard {
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
  padding: 10px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  border-left: 5px solid transparent;
  opacity: 1;
}

.listCard__fadeout {
  transition-property: 'opacity';
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  opacity: 0;
}

.listCard:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 0px;
}

.listCard.listCard__hoverable:hover {
  cursor: pointer;
  border-left: 5px solid var(--color-light-gray);
}

.listCard h4 {
  font-size: 14px;
}

.deleteIcon {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 14px;
}

.deleteIcon:hover {
  font-size: 20px;
  top: 9px;
  right: 7px;
}

.dateTime {
  text-align: right;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.subject {
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 14px;
}

.body {
  margin: 15px 0;
  font-size: 14px;
  overflow-wrap: break-word;
}

.callToAction {
  padding: 5px 0 0 0;
}

.viewReportCTA {
  width: 125px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid var(--color-light-gray2);
}

.viewReportCTA:hover {
  cursor: pointer;
  background-color: var(--color-light-gray3);
}

.ctaText {
  font-size: 13px;
  padding-left: 5px;
}

.readIndicator {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.indicator__new {
  background-color: var(--color-alert-info);
}

.indicator__done {
  border: 1px solid var(--color-light-gray);
  background-color: #ffffff;
}

.assetName {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  font-size: 14px;
}
