.screenOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.alertBox {
  position: relative;
  z-index: 1002;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.alertBox.with_modalOverlay {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.fixed_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute_pos {
  position: absolute;
}

.closeIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  color: var(--color-white);
  opacity: 1;
  z-index: 1;
}

.closeIcon:hover {
  opacity: 0.6;
}

.closeIcon:active {
  opacity: 0.4;
}

.alertBoxHeader {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--color-palette-violet);
  color: var(--color-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header_dragHandle {
  cursor: move;
}

.header_dragHandle:active {
  cursor: move;
}

.alertBoxBody {
  padding: 15px 15px;
  overflow-y: auto;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.alertBoxBody::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

.alertBoxBody::-webkit-scrollbar-thumb {
  background-color: rgb(190, 189, 189);
  border-radius: 5px;
}

.alertBoxFooter {
  position: relative;
  padding: 5px 15px;
  border-top: 1px solid rgba(141, 141, 141, 0.2);
  display: flex;
  align-items: center;
}

.headingText {
  margin-right: 5px;
}

/* Extra Small modifier */

.alertBox.alertBox_xs {
  width: 450px;
  height: 200px;
}

.alertBox_xs .alertBoxHeader {
  height: 40px;
  font-size: 16px;
}

.alertBox_xs .closeIcon {
  top: 10px;
  font-size: 20px;
}

.alertBox_xs .alertBoxBody {
  height: calc(100% - 50px - 4px);
}

.alertBox_xs .alertBoxBody.offsetFooter {
  height: calc(100% - 40px - 4px - 45px);
}

.alertBox_xs .alertBoxFooter {
  height: 45px;
}

/* Small modifier */

.alertBox.alertBox_s {
  width: 450px;
  height: 280px;
}

.alertBox_s .alertBoxHeader {
  height: 40px;
  font-size: 16px;
}

.alertBox_s .closeIcon {
  top: 10px;
  font-size: 20px;
}

.alertBox_s .alertBoxBody {
  height: calc(100% - 50px - 4px);
}

.alertBox_s .alertBoxBody.offsetFooter {
  height: calc(100% - 40px - 4px - 45px);
}

.alertBox_s .alertBoxFooter {
  height: 45px;
}

/* Medium modifier */
.alertBox.alertBox_m {
  width: 600px;
  height: 380px;
}

.alertBox_m .alertBoxHeader {
  height: 50px;
  font-size: 20px;
}

.alertBox_m .closeIcon {
  top: 14px;
  font-size: 24px;
}

.alertBox_m .alertBoxBody {
  height: calc(100% - 50px - 4px);
}

.alertBox_m .alertBoxBody.offsetFooter {
  height: calc(100% - 50px - 4px - 45px);
}

.alertBox_m .alertBoxFooter {
  height: 45px;
}

/* Large modifier */
.alertBox.alertBox_l {
  width: 900px;
  height: 680px;
}

.alertBox_l .alertBoxHeader {
  height: 60px;
  font-size: 24px;
}

.alertBox_l .closeIcon {
  top: 14px;
  font-size: 30px;
}

.alertBox_l .alertBoxBody {
  height: calc(100% - 60px - 4px);
}

.alertBox_l .alertBoxBody.offsetFooter {
  height: calc(100% - 60px - 4px - 55px);
}

.alertBox_l .alertBoxFooter {
  height: 55px;
}

/* Auto modifier */
.alertBox.alertBox_auto {
  width: 550px;
  height: auto;
}

.alertBox_auto .alertBoxHeader {
  height: 40px;
  font-size: 16px;
}

.alertBox_auto .closeIcon {
  top: 10px;
  font-size: 20px;
}

.alertBox_auto .alertBoxBody {
  height: auto;
}

.alertBox_auto .alertBoxBody.offsetFooter {
  height: calc(100% - 60px - 4px - 55px);
}

.alertBox_auto .alertBoxFooter {
  height: 45px;
}
