.textInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
}

.textInput input,
.textInput textarea {
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
  color: var(--color-gray);
  resize: none;
  -webkit-font-smoothing: antialiased;
}

.textInput textarea {
  resize: none;
  height: 140px;
  font-family: inherit;
}

.textInput input::placeholder,
.textInput textarea::placeholder {
  color: var(--color-light-gray);
}

.textInput input:focus,
.textInput textarea:focus {
  outline: none;
}

.textInput.inputError input,
.textInput.inputError textarea {
  border-color: var(--color-alert-red);
}

.label {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray);
  font-weight: 600;
  margin-bottom: 4px;
}

.inputError {
  color: var(--color-alert-red);
}
