# Integration Tests
# Build aiverify and run QA test suites

name: v2 Integration Tests

env:
  GITHUB_TOKEN: ${{ github.token }}

on:
  # Run this workflow everyday at 11:05pm Singapore Time (15:05am UTC)
  # schedule:
  #   - cron: "05 15 * * *"

  # Run this workflow manually from Actions tab
  workflow_dispatch:
    inputs:
      branch_to_test:
        description: "Branch or tag to run test"
        required: true
        default: "main"
        type: string

# Allow concurrent runs of the same workflow (currently ubuntu-latest-m configured to allow 10 concurrent runs)
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  Integration-Test:
    
    # Run only on Workflow Dispatch and Schedule
    runs-on: ubuntu-latest-m
    timeout-minutes: 300
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:

      # Change Existing File Permissions For Later Removal During Checkout of AI Verify
      - name: Change Existing File Permissions From Previous Runs
        run: |
          sudo chmod -R 777 .

      # Checkout AI Verify (Workflow Dispatch)
      - name: Checkout Code (Workflow Dispatch)
        if: (github.event_name == 'workflow_dispatch')
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch_to_test }}
          repository: aiverify-foundation/aiverify

      # Checkout AI Verify (Schedule)
      - name: Checkout Code 
        if: (github.event_name == 'schedule')
        uses: actions/checkout@v4
        with:
          ref: main
          repository: aiverify-foundation/aiverify

      # Checkout Integration Test Code
      - name: Checkout Integration Test Code
        uses: actions/checkout@v4
        with:
          ref: main
          repository: aiverify-foundation/aivt-integration-testing
          path: integration-testing

      # Set Python Version
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
            python-version: '3.12'
          
      # Log in to GitHub Container Registry (ghcr.io), needed by Github Actions to access ghcr.io
      - name: Login to GHCR
        run: |
          echo "${{ env.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      # Clean slate to force rebuild all images
      - name: Delete all local Docker images
        run: |
          docker ps -q | xargs -r docker stop
          docker images -q | xargs -r docker rmi -f
          docker system prune -a -f
          docker volume prune --all -f
          docker builder prune -a -f

      # Build and Launch Docker Containers
      - name: Build and Launch Docker Containers
        run: |
          cd aiverify-apigw
          rm Dockerfile
          mv Dockerfile.ci Dockerfile

          cd ../aiverify-test-engine-worker
          rm Dockerfile
          mv Dockerfile.ci Dockerfile
          cd ../

          cd deployment/docker-compose-dev
          COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker compose --profile automated-tests-venv --profile portal up -d
          echo "Initialising AI Verify Plugins"
          sleep 5m
          
      # Prepare Integration Test Data
      - name: Prepare Integration Test Data
        run: |
          sudo apt-get install zip -y
          echo "Preparing Integration Test Data"
          sudo rm -rf stock-plugins/user_defined_files/data
          sudo rm -rf stock-plugins/user_defined_files/model
          sudo rm -rf stock-plugins/user_defined_files/pipeline

          cp -r integration-testing/test-data/data stock-plugins/user_defined_files/data
          cp -r integration-testing/test-data/model stock-plugins/user_defined_files/model
          cp -r integration-testing/test-data/pipeline stock-plugins/user_defined_files/pipeline
          cp -r integration-testing/test-data/template stock-plugins/user_defined_files/template
          cp -r integration-testing/test-data/checklist stock-plugins/user_defined_files/checklist
          cp -r integration-testing/test-data/test_results stock-plugins/user_defined_files/test_results

          cp -r third-party-plugins stock-plugins/user_defined_files/third-party-plugins
          cp -r integration-testing/test-data/plugins/corrupted.zip stock-plugins/user_defined_files/third-party-plugins/ccs_plugins/
          cd stock-plugins/user_defined_files/third-party-plugins/ccs_plugins/
          zip -r ccs_explainability.zip ccs_explainability
          zip -r ccs_fairness_classification.zip ccs_fairness_classification
          zip -r ccs_process_checklist.zip ccs_process_checklist
          zip -r ccs_report_template.zip ccs_report_template

          cd ../../veritas_data
          mkdir cs_model test_files
          cp cs_model.pkl cs_model
          cp mktg_uplift_acq_dict.pickle cs_X_test.pkl test_files
          cd ../

          echo "Review Test Data Directory"
          ls -la

          echo "Integration Test Data Prepared"
      
      # Run UI Integration Test
      - name: Run UI Integration Test
        run: |
          cd integration-testing
          npm install
          npx playwright install --with-deps
          URL=http://127.0.0.1 PORT_NUMBER=3000 ROOT_PATH=$GITHUB_WORKSPACE/stock-plugins/user_defined_files npx playwright test tests/portal

      # Upload Playwright Traces
      - name: Upload Playwright Traces
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-trace-v2.0-integration-testing-${{ github.run_id }}
          path: |
            ${{ github.workspace }}/integration-testing/test-results/

      # Run API Integration Test
      - name: Run API Integration Test
        run: |
          cd integration-testing
          npm install
          npx playwright install --with-deps
          URL=http://127.0.0.1 PORT_NUMBER=4000 ROOT_PATH=$GITHUB_WORKSPACE/stock-plugins/user_defined_files npx playwright test tests/apigw
      
      # Clean slate to force rebuild all images
      - name: Delete all local Docker images
        run: |
          docker ps -q | xargs -r docker stop
          docker images -q | xargs -r docker rmi -f
          docker system prune -a -f
          docker volume prune --all -f
          docker builder prune -a -f

      # Build and Launch Docker Containers
      - name: Build and Launch Docker Containers
        run: |
          cd deployment/docker-compose-dev
          COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker compose --profile automated-tests-venv up -d
          echo "Initialising AI Verify Plugins"
          sleep 5m

      # Run Standalone Plugin Integration Test
      - name: Run Standalone Plugin Integration Test
        run: |
          cd integration-testing/tests/standalone-plugins
          python -m venv .venv
          source .venv/bin/activate
          pip install pytest requests
          pytest . -vv
          deactivate
          rm -rf .venv